@charset "UTF-8";

body {
	background: #102372;
	background-image:
		url("https://images3.alphacoders.com/444/thumb-1920-44447.jpg");
	text-align: center;
}

form {
	display: inline-block;
}

.btn {
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	background: #102372;
}

.create {
	color: white;
	margin: 20px;
	text-shadow: 2px 2px #000000;
}

#listhome {
	margin-top: 20px;
	justify-content: center;
}

.viewlist {
	margin-top: 50px;
	margin-left: 20px;
	color: white;
	text-shadow: 2px 2px #000000;
}

a.viewlist {
	color: white;
	text-shadow: 2px 2px #000000;
}

.eplist {
	color: white;
	text-shadow: 2px 2px #000000;
	margin-left: 20px;
	margin-top: 50px;
}

.btn.list {
	margin-top: 10px;
	justify-content: center;
}

.infobuttons {
	margin-bottom: 50px;
}

.title {
	margin-top: 50px;
	margin-left: 20px;
	color: white;
	text-shadow: 2px 2px #000000;
}
div{
    display: block;
    text-align: center;
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
